<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SftpHost" value="192.168.0.102" />
		<add key="SftpPort" value="2222" />
		<add key="SftpUsername" value="Sharma1" />
		<add key="SftpPassword" value="Mayank123" />
		<add key ="UploadFile " value ="\Sftp"/>
		<add key ="DownloadFile " value ="F:\testsftp"/>
	</appSettings>
</configuration>